<ng-container *ngIf="(ticketsList$ | async) as ticketsList; else loadingTmpl">
	<div *ngFor="let ticket of ticketsList" 
		(click)="selectTicket(ticket.id)"
		class="ticket-row" [class.selected-ticket]="ticket.id === (selectedTicketId$ | async)">
		<div class="title-container">
			<div class="title">{{ticket.title}}</div>
			<div class="delete-btn">x</div>
		</div>
		<div class="ticket-additional-info">
			<div>id{{ticket.id}}</div>
			<div>{{ticket.status | dictionaryPipe: (ticketsStatusTypes$ | async)}}
			</div>
		</div>
	</div>
</ng-container>

<ng-template #loadingTmpl>
	<div>Loading...</div>
</ng-template>
