.tickets-container {
	height: 100vh; 
	max-height: 100vh;
	display:  grid;
	grid-template-rows: auto 1fr; 
}

.part-content {
	display: grid;
	box-sizing: border-box;
	height: auto;
	border-top: 1px solid rgb(206, 206, 206);
	display: grid;
	grid-template-columns: 400px 1fr;
	grid-template-rows: 1fr;
	overflow: auto;

	.part-tickets-list {
		height: auto;
		overflow-y: scroll;
	}
	
	.part-ticket-info {
		height: auto;
		overflow-y: scroll;
	}
}
